<?xml version="1.0"?>
<robot name="turtle" xmlns:xacro="https://ros.org/wiki/xacro">
  <transmission name="right_wheel_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="body_right_wheel_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1.0</mechanicalReduction>
    </actuator>
  </transmission>
  
  <transmission name="left_wheel_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="body_left_wheel_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_wheel_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1.0</mechanicalReduction>
    </actuator>
  </transmission>
  
  <gazebo reference="right_wheel">
    <mu1>1000000000000</mu1>
    <mu1>1000000000000</mu1>
    <kp>1000000000000</kp>
    <kd>10</kd>
    <minDepth>0.001</minDepth>
    <maxVel>5</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>
  <gazebo reference="left_wheel">
    <mu1>1000000000000</mu1>
    <mu1>1000000000000</mu1>
    <kp>1000000000000</kp>
    <kd>10</kd>
    <minDepth>0.001</minDepth>
    <maxVel>5</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>  
  <gazebo reference="front_caster">
    <mu1>0.1</mu1>
    <mu1>0.1</mu1>
    <kp>1000000000000</kp>
    <kd>100</kd>
    <minDepth>0.001</minDepth>
    <maxVel>5</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>
  <gazebo reference="back_caster">
    <mu1>0.1</mu1>
    <mu1>0.1</mu1>
    <kp>1000000000000</kp>
    <kd>100</kd>
    <minDepth>0.001</minDepth>
    <maxVel>5</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>
</robot>
